<div class="content"><br>
  <h3>您的最爱</h3><br>
  <% if @query_string.blank? %>
    <div class="text-center">
      亲！没有符合搜索条件的美食哦！<br>
      <%= link_to("立即查看美食", products_path, class: "btn btn-sm btn-success") %>
    </div>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的美食信息 </h2>
    <div class="search-result">
      <div class="row @products-show0"></div>
        <tbody>
          <% @products.each do |product| %>
<<<<<<< HEAD
          <div container>
            <div class="row">

              <div class="col-md-4">
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                  <p><%= link_to(product.title,product_path(product)) %></p>
              </div>
            </div>
          </div>
=======
            <div class="row products-show">

              <div class="col-md-12 col-lg-9 col-lg-offset-1">

                  <div class="pull-right">
                    发布时间：<%= product.created_at.to_date %>
                  </div>
                  <p ><%= link_to(product.title,product_path(product)) %></p>

              </div>
            </div>
>>>>>>> fd1b542d60683ae8cd67ff9bce26640be2fc1bca
          <% end %>
        </tbody>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
