<div class="content"><br>
  <h3>您的最爱</h3><br>
  <% if @query_string.blank? %>
    <div class="text-center">
      亲！没有符合搜索条件的美食哦！<br>
      <%= link_to("立即查看美食", products_path, class: "btn btn-sm btn-success") %>
    </div>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的美食信息 </h2>
    <div class="search-result">
      <div class="row @products-show0"></div>
        <tbody>
          <% @products.each do |product| %>

          <div container>
            <div class="row">

              <div class="col-sm-4">
                  <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                  <% end %>
                 <p><%= link_to(product.title,product_path(product)) %></p> ￥ <%= product.price %>
              </div>
            </div>
          </div>

          <% end %>
        </tbody>
      </div>
    <div class="text-center">
      <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
