<div class="container show-frame">
  <p class="show-nav">
  <%= link_to("首页", products_path, style:"text-decoration:none") %> >
  <%= link_to(@product.category, products_path(:category => @product.category),style:"text-decoration:none")%> >
  <%= @product.title %>
</p>

<div class="container show-card">

    <div class="col-md-6 col-xs-12 ">

      <% if @photos.present? %>
       <div class="tab-content show-picture">
         <% @photos.each_with_index do |p, index| %>
           <% if index < 5 %>
             <div class="tab-pane <%= render_active(index) %>" id="<%= index %>">

               <%= image_tag p.avatar.medium.url %>
             </div>
           <% end %>
         <% end %>
       </div>
       <ul class="show-photo-xsmall-box nav nav-tabs">
         <% @photos.each_with_index do |p, index| %>
           <% if index < 5 %>
             <li class=""><a href="#<%= index %>" data-toggle= "tab"><%= image_tag p.avatar.xsmall.url %></a></li>
           <% end %>
         <% end %>
       </ul>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
      <% end %>
    </div>

    <div class="col-md-6 col-xs-12">
       <h3><%= simple_format(@product.title) %></h3>
       <div class="show-service">
         <p class="price">售价 <span class="rmb">￥</span><span class="price"><%= @product.price %></span></p>
       </div>
       <div class="show-quantity">
         <p class="quantity">库存 <span class="quantity"><%= @product.quantity %></span> </p>
         <p class="delivery">运费 <span class="delivery">满￥108 送货上门</span></p>
       </div>

       <div class="show-action clearfix">
         <% if @product.quantity.present? && @product.quantity > 0 %>
           <%= link_to("加入购物车",add_to_cart_product_path(@product),:remote=>true,method: :post, class: "btn btn-lg a1") %>
         <% else %>
           <%= link_to("已售罄","#",class: "btn btn-lg", style:"background-color:gray;") %>
         <% end %>
       </div>
    </div>
  </div>

    <div class="nav nav-tabs">
     <li role="presentation" class="active"><a href="#">商品详情</a></li>
   </div>

<div class="review-description clearfix">

  <hr>
 <% if @photos.present? %>
             <% @photos.each_with_index do |p, index| %>
               <% if index== 0 %>
               <div class="col-md-12 col-xs-12 review-p1">
                 <p class="text-center">产品展示</p>
                 <%= image_tag p.avatar.medium.url %>
                 <hr>
                 <p class="text-center">产品细节</p>
               </div>
               <% else %>

                 <div class="col-md-6 col-xs-6 review-p2" style="letter-spacing: -8px">
                   <%= image_tag p.avatar.thumb.url %>
                 </div>
               <% end %>
             <% end %>
           <% else %>
             <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
           <% end %>
</div>
