<div class="container">
<div class="row">
  <!-- 主图 -->
  <div class="col-md-7">
      <div class="productDetail">
        <div class="productDetail-left">
          <div class="productDetail-left-bigImage">
            <%= image_tag(@product.photos[0].avatar.thumb.url) %>
          </div>
          <!-- 下方小图-->
          <div class="productDetail-left-imageList ">
            <div class="productDetail-left-imageList-item">
              <%= image_tag @product.photos[0].avatar.thumb.url  %>
            </div>
            <div class="productDetail-left-imageList-item">
              <%= image_tag @product.photos[1].avatar.thumb.url  %>
            </div>
            <div class="productDetail-left-imageList-item">
              <%= image_tag @product.photos[2].avatar.thumb.url  %>
            </div>
            <div class="productDetail-left-imageList-item">
              <%= image_tag @product.photos[3].avatar.thumb.url  %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:150px;">
       <div class="product-description">
         <p>
           <%= simple_format(@product.description) %>
         </p>
       </div>
    </div>

    <div class="product-price-bgcolor">
      <div class="product-price">
        ￥ <%= @product.price %>
      </div>
    </div>

    <div  class="product-quantity">
      库存 : <%= @product.quantity %>
    </div>

  </div>

    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity >0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>    </div>
    <% else %>
       已销售一空，无法购买
       <% end %>
  </div>
</div>
<div class="productDetail-introImg">
  <ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="#">商品详情</a></li>
 </ul>
   <% if @prints.present? %>
    <% @prints.each_with_index do |p, index| %>
        <%= image_tag p.detail.url %>
    <% end %>
   <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
   <% end %>
</div>
</div>
